{% extends "layout.html" %}
{% block body %}
<div class="two-column">
    <img src="{{ book[7] }}" alt="{{ book[1] }}" width="600" height="300">

    <div class="info">
        <h1>{{ book[1] }}</h1>
        <p><strong>Author:</strong> {{ book[2] }}</p>
        <p><strong>Genre:</strong> {{ book[3] }}</p>
        <p><strong>Subjects:</strong> {{ book[4] }}</p>
        <p><strong>Audience:</strong> {{ book[5] }}</p>
        <p><strong>Copies:</strong> {{ book[6] }}</p>
        <p><strong>Availability:</strong> {{ book[9] }}</p>
        <p><strong>Description:</strong><br>{{ book[8] }}</p>
    </div>
</div>
{% endblock %}