<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">   
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Righteous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    
    <title>BookHub</title>
</head>
<body class="w3-container">

    <header class="w3-container w3-padding-32">
        <h1>BookHub</h1>
    </header>

    <nav class="w3-bar w3-blue-grey">
        <a href="/" class="w3-bar-item w3-button">Home</a>
<form>
<select>
<option>Genre</option>
<option>Dystopian Fiction</option>
<option>Gardening</option>
<option>Cooking</option>
<option>History</option>
<option>Fantasy</option>
<option>Adventure Fiction</option>
</select>
</form>

        <form method="GET" action="{{ url_for('search') }}" class="w3-bar-item">
            <input class="w3-input w3-bar-item" type="text" name="q" placeholder="Search for a book..." required>
            <button class="w3-button w3-teal" type="submit">Search</button>
        </form>
    </nav>

    {% block body %}
    {% endblock %}

</body>
</html>