<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookHub</title>

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">   
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alice">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="light-mode">

    <!-- Main Content -->
    <div class="content-container">
        {% block body %}{% endblock %}
    </div>

    <div class="all-books-grid">
    {% for book in books %}
        <a href="{{ url_for('book_detail', isbn=book[11]) }}" class="book-card-link">
            <div class="book-card">
                <div class="book-image">
                    <img src="{{ url_for('static', filename=book[6]) }}" alt="Cover of {{ book[1] }}">
                </div>
                <div class="book-info">
                    <h3>{{ book[1] }}</h3>
                    <p><strong>Author:</strong> {{ book[2] }}</p>
                    <p><strong>Genre:</strong> {{ book[3] }}</p>
                    <p><strong>Subjects:</strong> {{ book[4] }}</p>
                    <p><strong>Audience:</strong> {{ book[5] }}</p>
                    <p><strong>Copies:</strong> {{ book[6] }}</p>
                </div>
            </div>
        </a>
    {% endfor %}
</div>
